:root {
    --accent-color: #DA4314;
}

html, body {
    margin: 0;
}

html {
    background-color: black;
}

/* FLEX */

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.start {
    align-self: flex-start;
}

.end {
    align-self: flex-end;
}


/* ELEMENTS */

.main {
    margin: 5%;
}

.navbar {
    position: fixed;
    top: 0;
    right: 5vh;
    gap: 2em;
}

.button {
    background: var(--accent-color);
    border-radius: 100px;
    width: 20vw;
    padding: 3.5vh;
    transition: all 0.2s ease-in-out;
}

.button-text {
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    outline: solid;
    color: var(--accent-color);
    outline-color: var(--accent-color);
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.page-title {
    font-size: 8vw;
    -webkit-text-stroke-width: .15vw;
    text-transform: uppercase;
}

.list {
    flex-wrap: wrap;
    margin-top: 5vh;
    gap: 5vw;
}

/* TEXTS */

h1, h2, h3, h4,
li, p, a {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

h1, h2, button, strong {
    font-family: 'Roboto Mono', monospace;
}

h3, h4, li, p, a {
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 4vh;
}

h3 {
    font-size: 3vmin;
}

li {
    list-style: none;
}

li:hover {
    color: var(--accent-color);
    cursor: pointer;
}

p{
    text-align: justify;
}
/* COLORS */

.accent {
    background-color:var(--accent-color);
}

.text-white {
    color: #C4C4C4;
}

.text-black {
    color: black;
}

.text-accent {
    color: var(--accent-color);
}

.text-stroke-accent {
    color: transparent;
    -webkit-text-stroke-color: var(--accent-color);
}


/* ANIMATION */

.space {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1112px 584px #FFF , 164px 1386px #FFF , 1273px 1782px #FFF , 110px 780px #FFF , 502px 299px #FFF , 1768px 933px #FFF , 886px 1287px #FFF , 1309px 1130px #FFF , 847px 776px #FFF , 1713px 269px #FFF , 1718px 795px #FFF , 1984px 717px #FFF , 985px 341px #FFF , 1462px 1078px #FFF , 1702px 1461px #FFF , 167px 1873px #FFF , 862px 1117px #FFF , 1968px 932px #FFF , 814px 91px #FFF , 1530px 607px #FFF , 1799px 1571px #FFF , 1868px 1734px #FFF , 1800px 1137px #FFF , 52px 178px #FFF , 901px 853px #FFF , 1181px 1232px #FFF , 209px 650px #FFF , 1165px 1321px #FFF , 1046px 159px #FFF , 578px 1748px #FFF , 18px 337px #FFF , 70px 1062px #FFF , 1670px 270px #FFF , 1828px 1321px #FFF , 1817px 336px #FFF , 124px 1935px #FFF , 1840px 594px #FFF , 836px 1194px #FFF , 1292px 1801px #FFF , 1547px 945px #FFF , 500px 1563px #FFF , 569px 376px #FFF , 1107px 1627px #FFF , 662px 717px #FFF , 1352px 762px #FFF , 771px 1694px #FFF , 1529px 484px #FFF , 1609px 798px #FFF , 652px 627px #FFF , 498px 20px #FFF , 1308px 164px #FFF , 245px 1239px #FFF , 1131px 860px #FFF , 1028px 333px #FFF , 765px 1760px #FFF , 1627px 684px #FFF , 70px 1586px #FFF , 63px 1230px #FFF , 1727px 465px #FFF , 1946px 1862px #FFF , 169px 956px #FFF , 121px 1826px #FFF , 1615px 725px #FFF , 1225px 1925px #FFF , 1678px 323px #FFF , 606px 371px #FFF , 616px 985px #FFF , 490px 1898px #FFF , 516px 1019px #FFF , 878px 1448px #FFF , 1533px 98px #FFF , 625px 1152px #FFF , 224px 522px #FFF , 215px 245px #FFF , 153px 669px #FFF , 1530px 1652px #FFF , 1796px 1697px #FFF , 908px 1456px #FFF , 1326px 1947px #FFF , 1294px 872px #FFF , 806px 1296px #FFF , 783px 556px #FFF , 1075px 973px #FFF , 613px 505px #FFF , 1160px 833px #FFF , 1053px 1793px #FFF , 1343px 1990px #FFF , 937px 254px #FFF , 1084px 234px #FFF , 575px 374px #FFF , 367px 1656px #FFF , 494px 510px #FFF , 1403px 1242px #FFF , 1827px 1741px #FFF , 1239px 616px #FFF , 579px 1670px #FFF , 971px 836px #FFF , 1025px 813px #FFF , 707px 1407px #FFF , 188px 1777px #FFF , 1576px 18px #FFF , 1px 533px #FFF , 1123px 589px #FFF , 88px 705px #FFF , 1844px 679px #FFF , 121px 350px #FFF , 1853px 470px #FFF , 1333px 263px #FFF , 1702px 957px #FFF , 475px 725px #FFF , 1650px 75px #FFF , 1372px 11px #FFF , 714px 353px #FFF , 968px 461px #FFF , 1413px 1400px #FFF , 1856px 1724px #FFF , 793px 1524px #FFF , 1717px 962px #FFF , 1263px 1567px #FFF , 1621px 1961px #FFF , 537px 243px #FFF , 912px 1140px #FFF , 659px 1300px #FFF , 113px 516px #FFF , 1111px 1738px #FFF , 336px 953px #FFF , 1038px 248px #FFF , 692px 935px #FFF , 516px 1451px #FFF , 1057px 401px #FFF , 1014px 388px #FFF , 1363px 1764px #FFF , 855px 745px #FFF , 57px 767px #FFF , 779px 1263px #FFF , 1746px 1797px #FFF , 1975px 848px #FFF , 1051px 941px #FFF , 79px 1146px #FFF , 1945px 1015px #FFF , 1506px 1855px #FFF , 955px 730px #FFF , 27px 1865px #FFF , 1378px 1691px #FFF , 969px 1738px #FFF , 206px 842px #FFF , 1068px 91px #FFF , 1466px 1725px #FFF , 533px 1091px #FFF , 1205px 748px #FFF , 324px 398px #FFF , 1417px 1048px #FFF , 349px 1827px #FFF , 730px 1048px #FFF , 1671px 690px #FFF , 1441px 1068px #FFF , 251px 925px #FFF , 144px 1631px #FFF , 108px 1524px #FFF , 187px 1172px #FFF , 183px 403px #FFF , 907px 1873px #FFF , 973px 104px #FFF , 65px 1390px, 1955px 279px #FFF , 314px 1162px #FFF , 626px 1525px #FFF , 1372px 597px #FFF , 168px 809px #FFF , 1559px 1646px #FFF , 1316px 600px #FFF , 1903px 1615px #FFF , 1899px 173px #FFF , 1936px 1042px #FFF , 977px 180px #FFF , 80px 1132px #FFF , 1258px 287px #FFF , 1944px 1624px #FFF , 1710px 1271px #FFF , 859px 315px #FFF , 658px 601px #FFF , 444px 516px #FFF , 1443px 70px #FFF , 61px 1468px #FFF , 67px 338px #FFF , 1888px 711px #FFF , 1838px 1848px #FFF , 1252px 774px #FFF , 1986px 1392px #FFF , 1734px 213px #FFF , 1904px 76px #FFF , 1503px 1882px #FFF , 268px 113px #FFF , 1124px 387px #FFF , 565px 1591px #FFF , 446px 1116px #FFF , 1861px 661px #FFF , 55px 1090px #FFF , 328px 837px #FFF , 775px 85px #FFF , 436px 632px #FFF , 1704px 904px #FFF , 406px 1068px #FFF , 1077px 719px #FFF , 125px 722px #FFF , 1735px 174px #FFF , 1541px 1590px #FFF , 1883px 498px #FFF , 733px 1195px #FFF , 1178px 1793px #FFF , 254px 719px #FFF , 1790px 545px #FFF , 799px 454px #FFF , 1076px 1737px #FFF , 360px 95px #FFF , 516px 1367px #FFF , 1016px 493px #FFF , 1340px 15px #FFF , 1843px 355px #FFF , 416px 1857px #FFF , 1745px 1967px #FFF , 1768px 1266px #FFF , 778px 1437px #FFF , 1892px 1480px #FFF , 1861px 1700px #FFF , 1973px 832px #FFF , 132px 1773px #FFF , 1928px 1974px #FFF , 470px 1852px #FFF , 1855px 463px #FFF , 892px 1018px #FFF , 374px 1670px #FFF , 140px 391px #FFF , 1868px 1945px #FFF , 505px 1988px #FFF , 1798px 1514px #FFF , 134px 873px #FFF , 1319px 1278px #FFF , 1796px 1403px #FFF , 1400px 503px #FFF , 480px 1004px #FFF , 53px 434px #FFF , 1075px 507px #FFF , 1376px 13px #FFF , 150px 623px #FFF , 563px 1355px #FFF , 1464px 858px #FFF , 1123px 967px #FFF , 1273px 1412px #FFF , 1378px 1689px #FFF , 1390px 1248px #FFF , 273px 191px #FFF , 471px 46px #FFF , 1520px 780px #FFF , 830px 530px #FFF , 1369px 1915px #FFF , 434px 1541px #FFF , 1658px 753px #FFF , 1955px 1908px #FFF , 409px 1106px #FFF , 1609px 597px #FFF , 637px 1671px #FFF , 1957px 475px #FFF , 1595px 1496px #FFF , 1979px 1958px #FFF , 1364px 1658px #FFF , 929px 425px #FFF , 1197px 967px #FFF , 82px 1164px #FFF , 310px 176px #FFF , 1242px 1822px #FFF , 1081px 484px #FFF , 1436px 1211px #FFF , 992px 1826px #FFF , 1801px 714px #FFF , 1034px 16px #FFF , 1241px 145px #FFF , 1815px 811px #FFF , 517px 111px #FFF , 512px 1871px #FFF , 185px 1024px #FFF , 869px 1606px #FFF , 904px 1418px #FFF , 271px 807px #FFF , 1627px 1971px #FFF , 1048px 200px #FFF , 1543px 152px #FFF , 1559px 924px #FFF , 1205px 1281px #FFF , 1073px 697px #FFF , 1614px 426px #FFF , 1064px 1329px #FFF , 1963px 1252px #FFF , 444px 992px #FFF , 553px 1688px #FFF , 298px 578px #FFF , 772px 636px #FFF , 1755px 1446px #FFF , 1503px 450px #FFF , 504px 135px #FFF , 1714px 314px #FFF , 447px 1165px #FFF , 1903px 1258px #FFF , 1916px 434px #FFF , 1468px 1851px #FFF , 631px 244px #FFF , 201px 1060px #FFF , 88px 340px #FFF , 342px 1039px #FFF , 699px 488px #FFF , 1284px 1794px #FFF , 1458px 759px #FFF , 1335px 1629px #FFF , 1367px 1363px #FFF , 185px 235px #FFF , 76px 1315px #FFF , 1528px 198px #FFF , 471px 1165px #FFF , 1160px 1077px #FFF , 79px 473px #FFF , 114px 654px #FFF , 1400px 722px #FFF , 829px 1532px #FFF , 448px 941px #FFF , 627px 1987px #FFF , 820px 919px #FFF , 1506px 217px #FFF , 1946px 1562px #FFF , 142px 1489px #FFF , 793px 602px #FFF , 441px 91px #FFF , 259px 453px #FFF , 1538px 1732px #FFF , 1498px 1501px #FFF , 656px 805px #FFF , 1808px 1178px #FFF , 1954px 890px #FFF , 656px 1605px #FFF , 1177px 350px #FFF , 666px 992px #FFF , 1486px 305px #FFF , 661px 1647px #FFF , 1209px 1168px #FFF , 1499px 1450px #FFF , 554px 98px #FFF , 744px 1047px #FFF , 2px 524px #FFF , 383px 1086px #FFF , 1822px 244px #FFF , 1704px 1714px #FFF , 797px 1527px #FFF , 1916px 1610px #FFF , 1865px 860px #FFF , 1567px 1823px #FFF , 1340px 273px #FFF , 1133px 168px #FFF , 557px 1978px #FFF , 1419px 1724px #FFF , 668px 538px #FFF , 1411px 1026px #FFF , 1194px 1431px #FFF , 267px 1899px #FFF , 556px 950px #FFF , 1847px 1514px #FFF , 255px 131px #FFF , 442px 441px #FFF , 1089px 1011px #FFF , 1931px 1781px #FFF , 187px 119px #FFF , 1317px 1797px #FFF , 15px 971px #FFF , 1542px 618px #FFF , 594px 1216px #FFF , 523px 1980px #FFF , 682px 1977px #FFF , 1840px 1934px #FFF , 73px 1975px #FFF , 192px 37px #FFF , 1796px 1491px #FFF , 237px 418px #FFF , 635px 1936px #FFF , 735px 421px #FFF , 1785px 1564px #FFF , 85px 1401px #FFF , 288px 1436px #FFF , 972px 1682px #FFF , 986px 206px #FFF , 730px 1225px #FFF , 569px 557px #FFF , 1805px 1898px #FFF , 488px 1963px #FFF , 877px 997px #FFF , 545px 1029px #FFF , 1725px 1017px #FFF , 1320px 1855px #FFF , 1220px 409px #FFF , 1911px 453px #FFF , 784px 636px #FFF , 570px 862px #FFF , 1009px 7px #FFF , 432px 1640px #FFF , 1941px 1197px #FFF , 422px 994px #FFF , 465px 1879px #FFF , 918px 200px #FFF , 1978px 1313px #FFF , 520px 954px #FFF , 1270px 1594px #FFF , 1087px 578px #FFF , 1597px 58px #FFF , 1782px 550px #FFF , 274px 204px #FFF , 1743px 1662px #FFF , 441px 1338px #FFF , 545px 1844px #FFF , 1702px 894px #FFF , 1760px 1426px #FFF , 795px 1068px #FFF , 1076px 373px #FFF , 1666px 1594px #FFF , 1490px 1257px #FFF , 7px 1967px #FFF , 357px 1354px #FFF , 1740px 1071px #FFF , 1876px 1981px #FFF , 421px 1758px #FFF , 750px 1071px #FFF , 963px 266px #FFF , 918px 1422px #FFF , 811px 463px #FFF , 1084px 1186px #FFF , 950px 1852px #FFF , 709px 916px #FFF , 37px 1612px #FFF , 777px 747px #FFF , 749px 1663px #FFF , 1036px 600px #FFF , 1951px 1697px #FFF , 1208px 1139px #FFF , 549px 400px #FFF , 1144px 584px #FFF , 1466px 1315px #FFF , 131px 826px #FFF , 172px 1097px #FFF , 253px 97px #FFF , 197px 422px #FFF , 792px 25px #FFF , 957px 1632px #FFF , 1209px 889px #FFF , 826px 638px #FFF , 1464px 1137px #FFF , 1189px 2px #FFF , 1737px 1514px #FFF , 142px 954px #FFF , 1831px 544px #FFF , 1008px 779px #FFF , 1889px 257px #FFF , 1006px 1085px #FFF , 428px 1043px #FFF , 1915px 1585px #FFF , 232px 1935px #FFF , 767px 706px #FFF , 431px 334px #FFF , 897px 15px #FFF , 705px 146px #FFF;
    animation: animate-space 60s linear infinite;
}
  
@keyframes animate-space {
    from{
        transform:translateX(0px);
    }
    to{
        transform: translateY(-500px);
    }
}


@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

@keyframes rotate-icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* HOME PAGE */

.home main {
    margin: 10%;
}

.home .title {
    position: relative;
    font-size: 25vw;
    line-height: 20vw;
    margin-bottom: 2.5vw;
    -webkit-text-stroke-width: .2vw;
    text-transform: uppercase;
    cursor:default;
}

.home .button{
    margin-top: 5%;
}

.title-img{
    position: absolute;
    width: 400px;
    animation: bounce 4s linear infinite;
}

/* CATALOG PAGE */

.catalog .list {
    min-height: 45vh;
}

.catalog-item {
    width: 125px;
    height: 125px;
    padding: 3vh 25px;
    border-radius: 2vw;
    border: .4vh solid silver;
    filter: grayscale(100%);
    background-size: cover;
}

.catalog-item:hover {
    border: .4vh solid var(--accent-color);
    cursor: pointer;
    filter: grayscale(0%);
}

.catalog-item p {
    text-transform: uppercase;
}

.catalog-item:hover p {
    color: var(--accent-color);
}

.catalog-item.catalog-dragons {
    background-image: url(assets/catalog_dragons.jpg);
}

.catalog-item.catalog-rockets {
    background-image: url(assets/catalog_rockets.jpg);
}

.catalog-item.catalog-crew {
    background-image: url(assets/catalog_crew.jpg);
}


/* DRAGONS PAGE */

.dragons .list > div {
    width: 180px;
    height: 180px;
    border: .4vh solid silver;
    border-radius: 1vw;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.dragons .list > div:hover {
    border: .4vh solid var(--accent-color);
    cursor: pointer;
}

.dragons .list div.dragons-item-active {
    border: .4vh solid var(--accent-color);
    width: 480px;
}

.dragons .list img {
    background: silver;
    object-fit: cover;
    height: 100%;
    width: 180px;
    filter: grayscale(100%);
}

.dragons .list div:hover img {
    filter: grayscale(0%);
}

.dragons .list div.dragons-item-active img {
    filter: grayscale(0%);
    margin-right: 1rem;
}

.dragons .list > div > div {
    display: none;
    gap: .25rem;
    margin-top: 5px;
}

.dragons .list div.dragons-item-active > div {
    display: flex;
}

.dragons .list h3 {
    color: var(--accent-color);
    margin-bottom: 5px;
}

.dragons .list p {
    color: silver;
    padding-right: 2%;
}

.dragons .list div.dragons-item-active p {
    margin-bottom: 5px;
}

/* ROCKETS PAGE */

.rockets .list > div {
    width: 30vw;
    height: 120px;
    border: .4vh solid silver;
    border-radius: 1vw;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.rockets .list > div:hover {
    border: .4vh solid var(--accent-color);
    cursor: pointer;
}

.rockets .list div.rockets-item-active {
    border: .4vh solid var(--accent-color);
    height: 450px;
}

.rockets .list > div > div {
    display: none;
    gap: .8rem;
    margin: 5px;
}

.rockets .list div.rockets-item-active > div {
    display: flex;
}

.rockets .list img {
    background-color: black;
    object-fit: cover;
    height: 120px;
    filter: grayscale(100%);
}

.rockets .list div.rockets-item-active > img {
    filter: grayscale(0%);
}

.rockets .list h3 {
    color: var(--accent-color);
    padding: 2%;

}

.rockets .list p {
    color: silver;
    padding: 2%;
}


/* CREW PAGE */

.crew .list {
    height: 245px;
    justify-content: flex-end;
    overflow: hidden;
    margin: 6vh 5vw 4vh 5vw;
}

.crew .list img {
    flex: 0 0 auto;
    object-fit: cover;
    width: 80px;
    height: 240px;
    border: .4vh solid silver;
    border-radius: 1vw;
    filter: grayscale(100%);
    margin-right: auto;
    transition: all 0.2s ease-in-out;
}

.crew .list img:hover {
    flex-grow: 4;
    filter: grayscale(0%);
    border: .4vh solid var(--accent-color);
}

.btn-arrow:hover {
    color: var(--accent-color);
    cursor: pointer;
}

/* DEVELOPERS PAGE */

.developers .list {
    min-height: 45vh;
    gap: .2em;
}